form {
  width: 100%;
  max-width: 550px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

input,
textarea {
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  /* &:focus {
    border: 5px solid #76abae;
  } */
}

textarea {
  resize: none;
  margin-bottom: 2rem;
}

label {
  margin: 1rem 0 0.5rem;
}

button {
  cursor: pointer;
  background-color: #76abae;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
